{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

<h1 style="text-align:center; margin-block:50px; color:red;">{% trans "Hej" %} {{user}}, {% trans "Napisz coś" %}</h1>

{% if request.user.is_authenticated %}
<form method="POST" style="margin-left:150px;">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="{% trans "Zapisz" %}" style="margin-block:50px;">
</form>
{% else %}
<div style="background-color:#fff;color:#000;font-weight:bolder;padding:20px;width:100%;"> Musisz <a href="{% url 'signin' %}"><b>zalogować się</b></a>, aby móc dodać posta. </div>
{% endif %}

{% endblock content %}
